[Unit]
Description=Doom Emacs sync
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/home/%u/.emacs.d/bin/doom sync
TimeoutStopSec=15

[Install]
WantedBy=default.target
