.gnupg/** filter=git-crypt diff=git-crypt
.ssh/** filter=git-crypt diff=git-crypt
.config/cheat/** filter=git-crypt diff=git-crypt
.git-crypt/** filter=git-crypt diff=git-crypt
.config/tabliss/** filter=git-crypt diff=git-crypt
.cron/cron_github filter=git-crypt diff=git-crypt
racine/** filter=git-crypt diff=git-crypt
.bash/paths filter=git-crypt diff=git-crypt
